header {
  min-height: 10vh;
  margin: auto;
  background-color: #070c11;
  color: #fff;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}

#logo {
  vertical-align: middle;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#cases {
  min-height: 90vh;
  padding-bottom: 50px;
  background-color: #202224;
  color: rgb(177, 177, 177);
}

#cases h1,
h2 {
  padding: 15px;
}

#cases h4 {
  padding-top: 30px;
}

#cases h1,
h4 {
  text-align: center;
}

.cases-wrapper {
  width: 80%;
  margin: auto;
}

#PH {
  font-size: 50px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.box {
  background-color: #0f0e0e;
  height: 20vh;
  width: 30%;
  margin: 15px;
  border-radius: 10px;
}

footer {
  min-height: 10vh;
  margin: 0;
  background-color: #070c11;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer p {
  margin-top: 5px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  header {
    color: yellow;
  }
  .box {
    width: 45%;
  }
}

@media screen and (max-width: 768px) and (min-width: 200px) {
  .box {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
  }
  #PH {
    font-size: 40px;
  }
  h2,
  p {
    text-align: center;
  }
}
